/* App.css */

body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin-top: 80px; /* Adjust this value to match the height of your navbar */
    flex-grow: 1;
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    box-sizing: border-box; /* Include padding in the width calculation */
}